
<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd"
         version="6.1">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.devops.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>HealthServlet</servlet-name>
        <servlet-class>com.devops.web.HealthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HealthServlet</servlet-name>
        <url-pattern>/health</url-pattern>
    </servlet-mapping>

</web-app>
